.nav-top {
    background-color: rgb(47, 48, 114) !important;
}

.nav-link {
    color: white !important;
}

footer {
    background-color: rgb(47, 48, 114) !important;
    color: white !important;
    text-align: center !important;
}

.car-img {
    max-height: 40em !important;
}

.carousel-caption {
    background-color: rgba(47, 71, 43, 0.739) !important;
}

.divisao {
    background-color: rgb(47, 47, 114) !important;
    text-align: center !important;
    color: white !important;
    padding: 2em !important;

}

.ap-rio {
    margin-left: 30% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;
}

.card {
    padding: 1% !important;
    margin: 0% 1% 1% !important;
}

.card p {
    text-align: justify !important;
}

.card h4 {
    color: brown !important;
}

.tai-contato {
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 10%important;
}

.links {
    text-align: center;
    padding: 1em;
    color: rgb(0, 0, 0);
}

.mapa {
    margin-top: 5% !important;
}

/* Garantir altura consistente para todas as imagens e vídeo */
.car-img {
    height: 500px;
    /* Defina a altura que você quer */
    object-fit: cover;
}

.ratio-16x9 {
    height: 500px;
    /* Mesma altura das imagens */
}

/* Ou use altura responsiva */
@media (max-width: 768px) {

    .car-img,
    .ratio-16x9 {
        height: 300px;
    }
}